<%= tag.div(class: 'relative', data: { uikit_form_link_target: 'inputItem' }) do %>
  <%= link_to path,
    class: 'flex-1 flex items-center overflow-hidden items-center w-full h-10 px-3 rounded bg-gray-100 text-gray-800 cursor-pointer focus:outline-none focus:ring focus:ring-inset focus:ring-2 focus:ring-editor-primary/50',
    data: { turbo_frame: 'modal' } do %>
    <%= render Maglev::Uikit::IconComponent.new(name: "mail") %>
    <span class="ml-3 shrink"><%= link[:email] %></span>
  <% end %>

  <div class="absolute right-3 top-0 bottom-0 flex items-center pl-3">
    <%= render(Maglev::Uikit::IconButtonComponent.new(icon_name: 'eraser', data: { action: 'click->uikit-form-link#clear:prevent' })) %>
  </div>

  <%= hidden_field_tag "#{input_name}[email]", link[:email] %>
  <%= hidden_field_tag "#{input_name}[href]", link[:href] %>
  <%= hidden_field_tag "#{input_name}[link_type]", link[:link_type] %>
<% end %>