<%= tag.div(
  class: class_names(
    'group/color space-y-1 flex flex-row items-center justify-between',
    'is-empty': !value?
  ),
  data: {
    controller: 'uikit-form-color-field',
  }
) do %>
  <label for="<%= dom_id %>" class="block font-semibold text-gray-800 flex items-center gap-2">
    <span><%= label %></span>
    <% if error %>
      <span class="text-red-700 bg-red-100 text-xs py-1 px-3 rounded"><%= error %></span>
    <% end %>
  </label>

  <div class="inline-block relative">
    <%= tag.div(
      class: 'absolute left-3 top-2 w-6 h-6 rounded-sm border border-gray-200 group-[.is-empty]/color:bg-checkerboard group-[.is-empty]/color:bg-white!',
      style: "background-color: #{value}",
      data: {
        "uikit-form-color-field-target": "preview",
      }
    ) %>
    <%= tag.input(
      id: dom_id,
      name: name,
      value: value,
      type: 'text',
      autocomplete: 'off',
      minlength: 4,
      maxlength: 8,
      size: 9,
      class: 'block py-2 pl-11 pr-8 rounded bg-gray-100 text-gray-800 focus:outline-none focus:ring focus:ring-inset focus:ring-2 focus:ring-editor-primary/50 placeholder-gray-500',
      data: {
        'uikit-form-color-field-target': 'input',
        action: ['input->uikit-form-color-field#change', **input_action].join(' '),
        **input_data
      },
      **html_options
    ) %>

    <% if presets? %>
      <div class="absolute top-1.5 right-3">
        <%= render Maglev::Uikit::DropdownComponent.new(placement: 'bottom-end') do |dropdown| %>
          <% dropdown.with_trigger do %>
            <%= render Maglev::Uikit::IconButtonComponent.new(
              icon_name: 'palette', 
              data: { action: 'click->uikit-dropdown#toggle', 'uikit-dropdown-target': 'button' }
            ) %>            
          <% end %>
                  
          <div class="flex flex-row flex-wrap gap-2">
            <% presets.each do |preset| %>
              <%= tag.button(
                type: 'button',
                class: class_names(
                  'group/preset flex items-center justify-center w-6 h-6 cursor-pointer rounded-sm transition transform duration-200 ease-in-out hover:scale-110 select-none text-white',
                  'is-active': preset == value
                ),
                data: { 
                  'uikit-form-color-field-target': 'preset',
                  action: 'click->uikit-form-color-field#selectPreset',
                  'uikit-form-color-field-value-param': preset
                },
                style: "background-color: #{preset}"
              ) do %>
                <%= render Maglev::Uikit::IconComponent.new(name: 'check', class_names: 'text-white hidden group-[.is-active]/preset:block') %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>  
<% end %>