<%= tag.div( 
  class: class_names('space-y-1 flex flex-col group/link', 'is-present' => value?),
  data: { 
    controller: 'uikit-form-link', 
    uikit_form_link_name_value: name, 
    uikit_form_link_path_value: path, 
    uikit_form_link_options_value: options.to_json,
    action: %(
      dispatcher:link-selected-#{dom_id}@window->uikit-form-link#onLinkSelected
    )
  }) do 
%>
  <%= hidden_field_tag "#{name}[link_type]", '' %>

  <label for="<%= dom_id %>" class="block font-semibold text-gray-800 flex items-center gap-2">
    <span><%= label %></span>
    <% if error %>
      <span class="text-red-700 bg-red-100 text-xs py-1 px-3 rounded"><%= error %></span>
    <% end %>
  </label>

  <div class="space-y-2 mt-2">
    <% if with_text? %>
      <div class="space-y-1 flex flex-col">
        <input 
          name="<%= link_text[:name] %>"
          value="<%= link_text[:value] %>"
          type="text" 
          placeholder="<%= link_text[:placeholder] %>"
          autocomplete="off" 
          class="block py-2 px-3 rounded bg-gray-100 text-gray-800 focus:outline-none focus:ring focus:ring-inset focus:ring-2 focus:ring-editor-primary/50 placeholder-gray-500"
          data-action="keyup->uikit-form-link#textChange"
        >
      </div>
    <% end %>
    
    <%= helpers.turbo_frame_tag turbo_frame_id do %>
      <%= render link_type_component if value? %>
    <% end %>

    <%= link_to placeholder,
      path,
      class: class_names(
        'flex items-center h-10 px-3 rounded bg-gray-100 text-gray-500 focus:outline-none focus:ring focus:ring-inset focus:ring-2 focus:ring-editor-primary/50',
        'group-[.is-present]/link:hidden'
      ),
      data: {
        turbo_frame: 'modal',
        uikit_form_link_target: 'emptyItem'
      } %>
  </div>
<% end %>