<div 
  class="flex flex-col" 
  <% if max_length? %>
  data-controller="uikit-form-text-field max-length"
  data-max-length-threshold-value="<%= max_length %>"
  data-max-length-threshold-class-value="text-red-600"
  data-max-length-default-class-value="text-gray-600"
  <% else %>
  data-controller="uikit-form-text-field"
  <% end %>
>
  <label for="<%= dom_id %>" class="block font-semibold text-gray-800 flex justify-between items-center">
    <div class="gap-2 flex items-center">
      <span><%= label %></span>
      <% if error %>
        <span class="text-red-700 bg-red-100 text-xs py-1 px-3 rounded"><%= error %></span>
      <% end %>
    </div>
    
    <% if max_length? %>
      <span class="text-xs" data-max-length-target="counter"><%= num_characters %> / <%= max_length %></span>
    <% end %>
  </label>

  <%= content_tag :textarea, value,
    id: dom_id,
    class: 'block mt-1 py-2 px-3 rounded bg-gray-100 text-gray-800 focus:outline-none focus:ring focus:ring-inset focus:ring-2 focus:ring-editor-primary/50 placeholder-gray-500',
    name: name,
    autocomplete: 'off',
    placeholder: placeholder,
    rows: rows,
    data: {
      'max-length-target': 'input',
      'uikit-form-text-field-target': 'input',
      action: [
        'input->uikit-form-text-field#change',
        **input_action
      ].join(' '),      
      **input_data
    },
    **html_options
  %>
</div>