<div <%= tag.attributes(class: wrapper_classes, data: { sortable_target: 'item', item_id: id, item_index: index }) %>>
  <% if handle? %>
    <div class="flex items-center cursor-move" data-sortable-target="handle">
      <%= render Maglev::Uikit::IconComponent.new(name: "draggable") %>
    </div>
  <% end %>

  <% item_body = capture do %>
    <% if image? %>
      <div class="h-8 w-8 bg-gray-400">
        <%= image %>
      </div>
    <% end %>

    <% if big_image? %>
      <%= big_image %>
    <% end %>

    <div class="flex flex-col overflow-hidden">
      <% if pre_title? %>
        <div class="text-gray-500 text-xs"><%= pre_title %></div>
        <div class="text-gray-800 truncate"><%= title %></div>
      <% else %>
        <div class="truncate"><%= title %></div>
      <% end %>
    </div>    
  <% end %>

  <% if link? %>
    <%= link_to link_url, data: link_data, class: content_classes do %>
      <%= item_body %>
    <% end %>
  <% else %>
    <div class="<%= content_classes %>">
      <%= item_body %>
    </div>
  <% end %>

  <% if action? %>
    <div class="relative ml-auto flex items-center shrink-0 min-h-full">
      <%= action %>
    </div>
  <% end %>
</div>