<div 
  class="relative z-50 hidden" 
  role="dialog" 
  tabindex="0"
  aria-modal="true"
  data-controller="uikit-modal"
  data-action="hashchange@window->uikit-modal#openFromUrl keydown.esc->uikit-modal#close"
  <% if open %>data-uikit-modal-open-value="true"<% end %>
  <% if id %>data-uikit-modal-id-value="<%= id %>"<% end %>
  data-uikit-modal-focus-value="<%= focus %>"
>  
  <div 
    class="fixed inset-0 bg-neutral-600/75 transition-opacity opacity-0 hidden"
    data-uikit-modal-target="backgroundBackdrop"
    data-transition-enter="ease-out duration-100"
    data-transition-enter-start="opacity-0"
    data-transition-enter-end="opacity-100"
    data-transition-leave="ease-in duration-100"
    data-transition-leave-start="opacity-100"
    data-transition-leave-end="opacity-0"
  ></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4" data-action="click->uikit-modal#close:self">
      <div 
        class="relative transform overflow-y-visible rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:min-w-96 sm:p-6 w-full sm:w-auto hidden"
        data-uikit-modal-target="dialog"
        data-transition-enter="ease-out duration-100"
        data-transition-enter-start="opacity-0 -translate-y-6 scale-95"
        data-transition-enter-end="opacity-100 translate-y-0 scale-100"
        data-transition-leave="ease-in duration-100"
        data-transition-leave-start="opacity-100 translate-y-0 scale-100"
        data-transition-leave-end="opacity-0 -translate-y-6 scale-95"
      >
        <%= helpers.turbo_frame_tag 'modal-dialog' do %>
          <div class="flex items-center justify-between">
            <h2 class="text-gray-800 font-semibold antialiased text-lg"><%= title %></h2>

            <div class="ml-auto pl-2 gap-0.5 flex items-center">
              <% if notification? %>
                <%= notification %>          
              <% end %>

              <div class="relative -right-2">
                <%= render Maglev::Uikit::IconButtonComponent.new(icon_name: 'close', data: { action: 'click->uikit-modal#close' }) %>
              </div>
            </div>
          </div>
                    
          <div class="mt-5">
            <%= content %>
          </div>

          <% if footer? %>
            <div class="pt-5 flex justify-end items-center gap-2">
              <%= footer %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>