<!DOCTYPE html>
<html lang="en" class="h-full antialiased">
<head>
  <title>Maglev preview component</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "maglev/tailwind" %>
  <%= stylesheet_link_tag "maglev/application", "data-turbo-track": "reload" %>
  <%= maglev_importmap_tags "editor" %>

  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

  <style>
    :root {
      --editor-color-primary: <%= editor_primary_hex_color %>;
    }
  </style>
</head>

<body style="padding: 20px" class="h-full font-nunito">
  <div style="
      margin-left: auto;
      margin-right: auto;
      max-width: <%= params.dig(:lookbook, :display, :max_width) || '100%' %>
    " class="h-full">
    <%= yield %>
    <!-- rendered preview will be injected here -->
  </div>
</body>

</html>