<!DOCTYPE html>
<html>
<head>
  <title>Maglev - Admin</title>
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_javascript_tag 'admin' %>
  <%= vite_stylesheet_tag 'admin.scss' %>
  
  <%= favicon_link_tag vite_asset_path 'images/favicon.svg' %>
</head>
<body class="bg-gray-100">
  <main role="main" class="container mx-auto">
    <div class="flex items-center py-3 px-8 my-3 text-white text-opacity-50 bg-purple-600 rounded shadow-sm">    
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100"><%= link_to 'Maglev', admin_root_path %></h6>
        <small>Administration interface</small>
      </div>
      <%= render 'layouts/maglev/admin/header_actions' %>
    </div>
    <%= yield %> 
  </main>
</body>
</html>
