<div <%= section.dom_data %> class="jumbotron">
  <div class="container">
    <h1 <%= section.settings.title.dom_data %> class="display-3"><%= raw section.settings.title %></h1>
    <div <%= section.settings.body.dom_data %>><%= raw section.settings.body %></div>
  </div>
</div>