<div class="flex-1 overflow-y-auto">
  <% if @pages.empty? %>
    <p class="text-center mt-8"><%= t('maglev.editor.pages.list.empty') %></p>
  <% else %>
    <% @pages.each do |page| %>
      <div class="flex items-center pl-4 pr-2 hover:bg-editor-primary/5 transition-colors duration-200">
        <%= link_to editor_real_root_path(maglev_editing_route_context(page: page)), class: 'flex items-center text-gray-800 overflow-hidden w-full py-3.5 gap-2', data: { turbo_frame: '_top' } do %>
          <%= maglev_page_icon(page) %>
          <span class="truncate"><%= page.title %></span>
        <% end %>
        <div class="ml-auto pr-2 relative">
          <%= render Maglev::Uikit::PageActionsDropdownComponent.new(
            paths: {
              edit: edit_editor_page_path(page.id, **query_params(from_list: true), **maglev_editing_route_context),
              clone: editor_page_clone_path(page.id, maglev_editing_route_context),
              delete: editor_page_path(page.id, **query_params, **maglev_editing_route_context)
            },
            live_url: maglev_page_live_url(page),
            without_actions: page.index? ? [:delete] : []
          ) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>  