<div 
  class="absolute top-16 left-16 right-0 bottom-0 overflow-hidden group"
  data-controller="editor-page-preview"
  data-editor-page-preview-has-sections-value="<%= current_maglev_sections.any? %>"
  data-action="
    uikit-device-toggler:change@window->editor-page-preview#changeDevice 
    client:ready@window->editor-page-preview#clientReady
    turbo:load@window->editor-page-preview#detectUrlChange
    dispatcher:page-preview:reload@window->editor-page-preview#startLoading
    dispatcher:page-preview:remove-empty-message@window->editor-page-preview#removeEmptyMessage
  "
>
  <div 
    id="page-preview"
    class="bg-gray-50 origin-top-left transition-transform duration-150 ease-out will-change-transform transform-gpu hidden opacity-0 group-[.is-loaded]:opacity-100 group-[.is-loaded]:block"  
    data-editor-page-preview-target="iframe-wrapper"
  >
    <iframe 
      src="<%= current_maglev_page_urls[:preview] %>" 
      class="bg-white w-full h-full mx-auto transition-discrete transition-all duration-100 ease-in-out group-data-[device=mobile]/device:w-[375px] group-data-[device=tablet]/device:w-[1024px]" 
      data-editor-page-preview-target="iframe"
      data-editor-preview-notification-center-target="iframe"
      data-editor-preview-notification-center-primary-color-param="<%= maglev_primary_hex_color %>"
      data-editor-preview-notification-center-sticky-section-ids-param="<%=current_maglev_sections.select(&:sticky?).map(&:id).to_json %>"
      data-action="load->editor-preview-notification-center#sendConfig"></iframe>
  </div>

  <div class="flex h-full w-full justify-center items-center transition-discrete transition-all duration-100 ease-in-out opacity-100 group-[.is-loaded]:opacity-0 group-[.is-loaded]:hidden" data-editor-page-preview-target="loading">
    <p class="animate-bounce duration-200 group-data-[expanded-page-layout]/page-layout:pl-88">
      <%= t('maglev.editor.page_preview.loading') %>
    </p>
  </div>

  <%= render 'maglev/editor/pages/preview_empty_message' %>
</div>