<div class="h-full font-nunito overflow-hidden">
  <header class="flex h-16 border-b border-gray-200" id="app-layout-header" data-turbo-permanent> 
    <%= link_to editor_root_path, class: "w-16 h-full flex justify-center items-center border-r border-gray-200 shrink-0 router-link-exact-active router-link-active" do %>
      <%= image_tag "maglev/logo.svg", class: "w-2/4" %>        
    <% end %>
  </header>

  <div class="flex h-full">
    <aside 
      id="app-layout-sidebar"
      class="w-16 flex-shrink-0 flex content-center h-full border-r border-gray-200 relative z-20 bg-white"
    >
      <nav class="w-16 flex flex-col justify-between">
        <ol class="divide-y divide-gray-300 px-4">
          <li>
            <%= link_to editor_pages_path, class: "flex justify-center py-5 -ml-4 -mr-4 hover:bg-editor-primary hover:bg-opacity-5 transition-colors duration-200 bg-white" do %>
              <%= render Maglev::Uikit::IconComponent.new(name: 'ri_file_copy_line') %>
            <% end %>
          </li>
          <li>
            <%= link_to editor_sections_path, class: "flex justify-center py-5 -ml-4 -mr-4 hover:bg-editor-primary hover:bg-opacity-5 transition-colors duration-200 bg-white" do %>
              <%= render Maglev::Uikit::IconComponent.new(name: "ri_stack_line") %>
            <% end %>
          </li>
        </ol>
      </nav>
    </aside>
    <div class="bg-gray-100 w-full h-full">
      <%= content %>
    </div>
  </div>
</div>
