<%= turbo_frame_tag 'modal' do %>
  <%= render Maglev::Uikit::ModalComponent.new(id: 'link-modal', open: true, focus: false) do |modal| %>    
    <% modal.with_title_content t("maglev.editor.links.edit.title") %>
    <% modal.with_notification_content maglev_flash_message %>

    <%= form_with model: @link,    
      url: editor_link_path, 
      method: :put,
      id: 'link-form',
      scope: 'link',
      data: { 
        controller: 'form-refresh',
        action: 'turbo:submit-end->uikit-modal#close'
      } do |f| %>
      <%= hidden_field_tag :input_name, params[:input_name] %>

      <%= render 'maglev/editor/links/edit/tabs', f: f %>

      <% content_for :form_actions do %>
        <button class='<%= maglev_button_classes(color: :secondary) %>' data-action="click->uikit-modal#close">
          Cancel
        </button>
        <%= f.submit 'Select', form: 'link-form', class: maglev_button_classes %>
      <% end %>
    <% end %>

    <% modal.with_footer do %>
      <%= yield :form_actions %>
    <% end %>
  <% end %>
<% end %>
