<%= render(Maglev::Uikit::MenuDropdownComponent.new) do |dropdown| %>
  <% dropdown.with_trigger do %>
    <%= tag.button class: helpers.maglev_button_classes(color: :secondary, class: 'space-x-2'), data: { action: 'click->uikit-dropdown#toggle', 'uikit-dropdown-target': 'button' } do %>
      <%= render Maglev::Uikit::IconComponent.new(name: 'global') %>
      <span class="whitespace-nowrap">
        <%= current_locale_label %>
      </span>
      <%= render Maglev::Uikit::IconComponent.new(name: 'arrow_down') %>
    <% end %>
  <% end %>
  
  <% locales.each do |locale| %>
    <% dropdown.with_item_link_to(locale[:path], data: locale[:data_attributes]) do |menu_item| %>
      <% menu_item.with_label_content(locale[:label]) %>
      <% menu_item.with_icon_content('check') if locale[:value] == current_locale %>
    <% end %>   
  <% end %>
<% end %>