<!DOCTYPE html>
<html>
<head>
  <title><%= maglev_site.name %> - <%= maglev_page.title %></title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script

  <meta name="description" content="<%= maglev_page.meta_description %>" />  
  <meta property="og:title" content="<%= maglev_page.og_title %>" />
  <meta property="og:description" content="<%= maglev_page.og_description %>" />
  <meta property="og:image" content="<%= maglev_page.og_title %>" />

  <style id="maglev-style">
    :root {
      --basic-theme-primary-color: <%= maglev_style.primary_color %>;
    }
  </style>
  
  <meta name="hello" content="<%= I18n.t('hello') %>" />

  <%= render_maglev_alternate_links %>
  <%= maglev_live_preview_client_javascript_tag %>
</head>
<body>
  <header data-maglev-header-dropzone class="bg-blue-100 min-h-[10rem]">
    <%= render_maglev_group :header %>
  </header>
  <div class="sm:flex">
    <aside data-maglev-sidebar-dropzone class="w-full sm:w-96 bg-red-100 min-h-[10rem]">
      <%= render_maglev_group :sidebar %>
    </aside>
    <main data-maglev-main-dropzone class="bg-green-100 min-h-[10rem] w-full">
      <%= render_maglev_group :main %>
    </main>
  </div>
  <footer data-maglev-footer-dropzone class="bg-yellow-100 min-h-[10rem]">
    <%= render_maglev_group :footer %>
  </footer>
</body>
</html>