<!DOCTYPE html>
<html class="h-full" lang="<%= I18n.locale %>">
<head>
  <title>Maglev - EDITOR</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script>
    window.baseUrl = <%= h editor_path.to_json.html_safe %>;
    window.apiBaseUrl = <%= h api_base_path.to_json.html_safe %>;
    window.site = <%= h render(partial: 'maglev/api/sites/show', formats: :json, locals: { site: @site }).html_safe %>;
    window.theme = <%= h render(partial: 'maglev/api/themes/show', formats: :json, locals: { theme: @theme }).html_safe %>;
  </script>
  
  <%= javascript_pack_tag 'editor' %>
  <%= stylesheet_pack_tag 'editor' %>

  <%= favicon_pack_tag 'favicon.png' %>

  <style>
    :root {
      --editor-color-primary: #7E6EDB; /* TODO: get the value from the Maglev settings */
      --editor-color-primary-non-hex: 126, 110, 219; /* TODO: get the value from the Maglev settings */
    }
  </style>  
</head>
<body class="h-full overflow-y-hidden font-nunito">
  <div id="maglev-app"></div>
</body>
</html>
