<!DOCTYPE html>
<html class="h-full" lang="<%= editor_ui_locale %>">
<head>
  <title><%= editor_window_title %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_tag nonce: true do %>
    window.locale = <%= h content_locale.to_json.html_safe %>;
    window.uiLocale = <%= h editor_ui_locale.to_json.html_safe %>;
    window.baseUrl = <%= h site_base_editor_path.to_json.html_safe %>;
    window.leaveUrl = <%= site_leave_editor_path.to_json.html_safe %>;
    window.apiBaseUrl = <%= h api_base_path.to_json.html_safe %>;
    window.site = <%= h render(partial: 'maglev/api/sites/show', formats: :json, locals: { site: maglev_site, home_page_id: maglev_home_page_id }).html_safe %>;
    window.page = <%= h render(partial: 'maglev/api/pages/show', formats: :json, locals: { page: maglev_page }).html_safe %>;
    window.theme = <%= h render(partial: 'maglev/api/themes/show', formats: :json, locals: { theme: maglev_theme }).html_safe %>;
    window.logoUrl = <%= editor_logo_url.to_json.html_safe %>;
    window.primaryColor = <%= editor_primary_hex_color.to_json.html_safe %>;
    window.sitePublishable = <%= editor_site_publishable.to_json %>;
    window.customTranslations = <%= h editor_custom_translations.to_json.html_safe %>
  <% end %>

  <%= vite_client_tag %>
  <%= vite_javascript_tag 'editor' %>

  <%= favicon_link_tag editor_favicon_url %>

  <style>
    :root {
      --editor-color-primary: <%= editor_primary_hex_color %>;
      --editor-color-primary-rgb: <%= editor_primary_rgb_color.join(' ') %>;
    }
  </style>

  <%= render 'header' %>
</head>
<body class="h-full overflow-y-hidden font-nunito">
  <div id="maglev-app"></div>
</body>
</html>
