<div 
  id="drawer-component"
  class="slide-pane absolute inset-y-0 h-[100dvh-(--spacing(16))] bg-white border-r border-gray-200 origin-top-left flex flex-col top-16 left-16 z-10 w-104"
>
  <div class="py-6 mx-4">
    <div class="h-6 flex items-center">
      <div class="w-full">
        <h2 class="text-gray-800 font-semibold text-lg capitalize-first antialiased">
          <%= title %>
        </h2>
      </div>
      <div class="ml-auto pl-2 gap-0.5 flex items-center">
        <% if notification? %>
          <%= notification %>          
        <% end %>

        <%= link_to back_path, class: 'h-7 w-7 flex items-center justify-center rounded-full focus:outline-none transition-colors duration-200 relative -right-2 bg-gray-600/0 hover:text-gray-900 text-gray-800 hover:bg-gray-600/10', data: { turbo_frame: '_top' } do %>
          <%= render Maglev::Uikit::IconComponent.new(name: 'close', size: '1.15rem') %>
        <% end %>
      </div>
    </div>
    <% if description? %>
      <div class="text-gray-400 text-sm">
        <%= description %>
      </div>
    <% end %>
  </div>

  <div class="flex-1 flex flex-col overflow-y-auto mx-4">
    <%= content %>
  </div>

  <% if footer? %>
    <div class="mt-2 mx-4 pb-4">
      <%= footer  %>
    </div>
  <% end %>
</div>