<%= render Maglev::Uikit::PageLayoutComponent.new(expanded: true, back_path: editor_root_path(maglev_editing_route_context)) do |page_layout| %>
  <% page_layout.with_title do %> 
    <span class="text-gray-800 font-extrabold">#<%= @section_block.position_in_parent + 1 %></span>
    &dash;
    <%= @section_block.name %>
  <% end %>
  <% page_layout.with_notification_content maglev_flash_message %>

  <% page_layout.with_pre_title do %>
    <%= render Maglev::Uikit::Breadcrumbs::BreadcrumbsComponent.new do |breadcrumbs| %>
      <% breadcrumbs.with_breadcrumb(label: t('maglev.editor.sections.breadcrumb'), url: editor_sections_path(maglev_editing_route_context), icon: 'stack') %>
      <% breadcrumbs.with_breadcrumb(label: truncate(@section.type_name, length: 20), url: edit_editor_section_path(@section, **maglev_editing_route_context), icon: 'settings') %>
      <% breadcrumbs.with_breadcrumb(label: @section.blocks_label, url: editor_section_blocks_path(@section, **maglev_editing_route_context), icon: 'archive_stack') %>
    <% end %>
  <% end %>

  <%= form_with url: editor_section_block_path(@section, @section_block, **maglev_editing_route_context), method: :put, data: { 
    controller: 'editor-section-form', 
    'editor-section-form-section-id-value': @section.id,
    'editor-section-form-section-block-id-value': @section_block.id,
    action: %(
      editor-setting:change->editor-section-form#onSettingChange
      editor-section-form:updateSetting->editor-preview-notification-center#updateSetting
      editor-section-form:updateSection->editor-preview-notification-center#updateSection
      client:setting:updated@window->editor-section-form#afterSettingUpdate
    )
  } do %>
    <%= render 'maglev/editor/section_blocks/form' %>
  <% end %>
<% end %>