<div class="flex h-full flex-col" data-controller="transition">
  <div class="bg-checkerboard pb-full relative overflow-hidden rounded flex-1" data-action="mouseenter->transition#enter mouseleave->transition#leave">
    <div class="absolute inset-0 h-full w-full rounded">
      <img src="<%= image_url %>" class="h-full w-full object-contain">

      <div
        class="flex items-center px-2 absolute bg-black/75 bottom-0 h-12 w-full text-white text-xs cursor-default rounded-b hidden"
        data-transition-target="revealable"
        data-transition-enter="ease-out duration-100"
        data-transition-enter-start="translate-y-4 opacity-0"
        data-transition-enter-end="translate-y-0 opacity-100"
        data-transition-leave="ease-in duration-100"
        data-transition-leave-start="translate-y-0 opacity-100"
        data-transition-leave-end="translate-y-4 opacity-0"
      >
        <%= button_to delete_url, 
          form_class: 'ml-auto flex items-center', 
          class: 'px-1 py-1 bg-white rounded-full flex items-center justify-center text-gray-900 cursor-pointer',
          data: { turbo_confirm: t('maglev.editor.image_library.destroy.text'), method: 'delete' } do 
        %>
          <%= render Maglev::Uikit::IconComponent.new(name: 'delete_bin', size: '1rem') %>
        <% end %>

        <button
          type="button"
          class=""
        >
          
        </button>
      </div>
    </div>
  </div>
  <div class="mt-1 px-2 text-xs font-bold text-gray-900"><%= filename %></div>
  <div class="px-2 mb-1 flex items-center text-xs justify-between text-gray-700">
    <span class=""><%= width %>x<%= height %></span>
    <span class=""><%= number_to_human_size(byte_size) %></span>
  </div>
</div>