<%= render Maglev::Uikit::MenuDropdownComponent.new(icon_name: "ri_more_2_fill") do |component| %>
  <% component.with_item do %>
    <%= link_to '#', class: component.item_classes do %>
      <%= render Maglev::Uikit::IconComponent.new(name: 'home_4_line') %>
      <span class="ml-2 whitespace-nowrap">Action #1</span>
    <% end %>
  <% end %>

  <% component.with_item do %>
    <%= link_to '#', class: component.item_classes do %>
      <%= render Maglev::Uikit::IconComponent.new(name: 'home_4_line') %>
      <span class="ml-2 whitespace-nowrap">Action #2</span>
    <% end %>
  <% end %>

  <% component.with_item do %>
    <%= link_to '#', class: component.item_classes do %>
      <%= render Maglev::Uikit::IconComponent.new(name: 'home_4_line') %>
      <span class="ml-2 whitespace-nowrap">Action #3</span>
    <% end %>
  <% end %>
<% end %>