<%= render Maglev::Uikit::MenuDropdownComponent.new(icon_name: "more_2") do |component| %>
  <% component.with_item do %>
    <%= link_to '#', class: component.item_classes do %>
      <%= render Maglev::Uikit::IconComponent.new(name: 'home') %>
      <span class="ml-2 whitespace-nowrap">Action #1</span>
    <% end %>
  <% end %>

  <% component.with_item do %>
    <%= render Maglev::Uikit::MenuDropdownComponent.new(placement: 'right') do |sub_menu| %>
      <% sub_menu.with_trigger do %>
        <%= button_tag class: sub_menu.item_classes, data: { action: 'click->uikit-dropdown#toggle', 'uikit-dropdown-target': 'button' } do %>
          <%= render Maglev::Uikit::IconComponent.new(name: 'home') %>
          <span class="ml-2 whitespace-nowrap">Action #2</span>
        <% end %>
      <% end %>
      <% sub_menu.with_item do %>
        <%= link_to '#', class: sub_menu.item_classes do %>
          <%= render Maglev::Uikit::IconComponent.new(name: 'home') %>
          <span class="ml-2 whitespace-nowrap">Action #2.2</span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% component.with_item do %>
    <%= link_to '#', class: component.item_classes do %>
      <%= render Maglev::Uikit::IconComponent.new(name: 'home') %>
      <span class="ml-2 whitespace-nowrap">Action #3</span>
    <% end %>
  <% end %>
<% end %>