<html lang="<%= I18n.locale %>">
  <head>
    <title><%= maglev_editor_title %></title>
    <meta name="view-transition" content="same-origin" />
    <meta name="turbo-refresh-method" content="morph">

    <meta name="content-locale" content="<%= content_locale %>">
    <meta name="page-preview-url" content="<%= current_maglev_page_urls[:preview] %>">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <% if maglev_disable_turbo_cache? %>
      <meta name="turbo-cache-control" content="no-cache">
    <% end %>

    <%= stylesheet_link_tag "maglev/application", "maglev/tailwind", "data-turbo-track": "reload" %>

    <%= maglev_editor_javascript_tags %>

    <%= favicon_link_tag maglev_favicon_url %>

    <style>
      :root {
        --editor-color-primary: <%= maglev_primary_hex_color %>;
        --editor-color-primary-rgb: <%= maglev_primary_rgb_color.join(' ') %>;
      }
    </style>

    <%= render 'layouts/maglev/editor/head' %>
  </head>
  <body 
    class="h-full overflow-y-hidden font-nunito group/device group/page-layout" 
    data-controller="editor-preview-notification-center"
    data-editor-preview-notification-center-section-path-value="<%= edit_editor_section_path(':section_id', maglev_editing_route_context) %>"
    data-editor-preview-notification-center-section-block-path-value="<%= edit_editor_section_block_path(':section_id', ':section_block_id', maglev_editing_route_context) %>"
    data-action="
      client:section:setting:clicked@window->editor-preview-notification-center#editSection
      client:sectionBlock:setting:clicked@window->editor-preview-notification-center#editSection
    "
  >
    <div id="root">
      <%= render Maglev::Uikit::AppLayout::LayoutComponent.new(page: current_maglev_page, root_path: editor_real_root_path(maglev_editing_route_context)) do |layout| %>
        <% layout.with_topbar do |topbar| %>
          <%= render 'layouts/maglev/editor/topbar', topbar: topbar %>
        <% end %>

        <% layout.with_sidebar do |sidebar| %>
          <%= render 'layouts/maglev/editor/sidebar', sidebar: sidebar %>
        <% end %>      
      <% end %>
      
      <%= turbo_frame_tag "page-layout" do %>
        <%= yield %>
      <% end %>      

      <%= render 'maglev/editor/sections/toolbar_list' %>
    </div>

    <%= render 'maglev/editor/pages/preview' %>

    <%= turbo_frame_tag "modal" do %>
      <%= yield :modal %> 
    <% end %>
  </body>
</html>